.loaderSpinner {
    display: inline-block;
    border: 3px solid var(--color-gray-100);
    border-top-color: var(--color-primary-blue);
    border-radius: 50%;
    animation: loaderSpin 0.7s linear infinite;
}

.loaderFullPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 48px 0;
}

@keyframes loaderSpin {
    to {
        transform: rotate(360deg);
    }
}